<form *ngIf="showAddTask" class="add-form" (ngSubmit)="onSubmit()">
    <div class="form-control">
        <label for="task">Task</label>
        <input type="text" name="text" [(ngModel)]="text" id="text" placeholder="Add Text"/>
    </div>
    <div class="form-control">
        <label for="data">Date & Time</label>
        <input type="text" name="datetime" [(ngModel)]="datetime" id="datetime" placeholder="Add Date & Time e.g May 11th at 4.00pm"/>
    </div>
    <div class="form-control">
        <label for="reminder">Set Reminder</label>
        <input type="checkbox" name="reminder" [(ngModel)]="reminder" id="reminder"/>
    </div>
    <div class="form-control">
        <input class="btn btn-block" type="submit" value="Save Task"/>
    </div>
</form>
